/* ボディの背景色を設定する */
body {
  background-color: #f2f2f2;
}

/* メインの見出しをスタイル付けする */
h1 {
  font-size: 32px;
  color: #333;
  margin-top: 40px;
}

/* 背景色を持つセクションをスタイル付けする */
.section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
